<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="theme-color" content="#8D1717">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" sizes="192x192" href="launcher-icon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <title>Wissle</title>
  </head>

  <body>
    <%= render 'partials/alert' %>
    <%= yield %>
  </body>
</html>
